@page "/candlestick"
@using AutoMapper
@using Bronto.Models.Api
@using Bronto.Stocks.Pwa.Interfaces
@using Bronto.Stocks.Pwa.Services
@using ScottPlot
@using ScottPlot.Blazor
@inject IStockService stockService

<h1>ScottPlot 5 in Blazor</h1>
<h2>Financial Plot</h2>
<h3>Candlestick Chart</h3>

@if (StockDataList is null)
{
    <p>Populating ...</p>
}
else if (!StockDataList.Values.Any())
{
    <p>Loading ...</p>
}
else if (loadFailed)
{
    <p>Failed to load data.</p>
}
else
{
    <p>Symbol: @StockDataList.Symbol</p>
    <p>Interval: @StockDataList.Interval</p>
    <p>Updated: @StockDataList.Values[0].Datetime</p>
}

<BlazorPlot @ref=BlazorPlot Style="width: 400px; height: 300px;" />

@code {
    private bool loadFailed;
    private StockDataTimeSeries StockDataList { get; set; }
    private List<OHLC> prices { get; set; }
    BlazorPlot BlazorPlot { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // get and plot time series price data
        try
        {
            loadFailed = false;
            prices = null;
            prices = await GetStocks();
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Console.WriteLine(ex.Message);
        }

        BlazorPlot.Plot.Add.Candlestick(prices);
        BlazorPlot.Plot.Axes.DateTimeTicksBottom();
        BlazorPlot.Plot.XLabel("Time");
        BlazorPlot.Plot.YLabel("Price");
        BlazorPlot.Plot.Title("Candlestick");
        BlazorPlot.Refresh();
    }

    protected async Task<List<OHLC>> GetStocks()
    {
        StockDataList = await stockService.GetTimeSeriesAsync("AAPL","1day", "30");
        
        @if (StockDataList != null)
        {
            // Use AutoMapper mapping ScottPlot's OHLC
            var config = new MapperConfiguration(cfg => cfg.CreateMap<TimeSeriesValues, OHLC>());
            var mapper = config.CreateMapper();
            prices = mapper.Map<List<OHLC>>(StockDataList.Values.ToList());
        }
        return prices;
    }
}