@page "/MyParent"
@using Bronto.Stocks.Pwa.Components

<h3>Select a Stock Symbol</h3>

<MyCombobox @bind-SelectedStockSymbol="selectedStockSymbol" />

<p>Selected Stock Symbol: @selectedStockSymbol</p>

@code {
    private string selectedStockSymbol;
}