@page "/moving"
@using ScottPlot
@using ScottPlot.Blazor

<h1>ScottPlot 5 in Blazor</h1>
<h2>Financial Plot</h2>
<h3>Simple Moving Average</h3>

<BlazorPlot @ref=BlazorPlot Style="width: 400px; height: 300px;" />

@code {

    BlazorPlot BlazorPlot { get; set; } = new();

    protected override void OnAfterRender(bool firstRender)
    {
        var prices = Generate.RandomOHLCs(75);
        BlazorPlot.Plot.Add.Candlestick(prices);
        BlazorPlot.Plot.Axes.DateTimeTicksBottom();

        // calculate SMA and display it as a scatter plot
        int[] windowSizes = { 3, 8, 20 };
        foreach (int windowSize in windowSizes)
        {
            ScottPlot.Finance.SimpleMovingAverage sma = new(prices, windowSize);
            var sp = BlazorPlot.Plot.Add.Scatter(sma.Dates, sma.Means);
            sp.Label = $"SMA {windowSize}";
            sp.MarkerSize = 0;
            sp.LineWidth = 3;
            sp.Color = Colors.Navy.WithAlpha(1 - windowSize / 30.0);
        }

        BlazorPlot.Plot.ShowLegend();
        BlazorPlot.Plot.SavePng("demo.png", 500, 400);
    }
}
